.hero-container{
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    .hero-gallery{
        display: flex;
        flex-direction: row;
        img {
            width: 200px;
        }
    }
}

.hero-gallery::before{
    content: "1";
    color: white;
    width: 80px;
    font-size: 150px;
}
